li(
  id="todo-" + todo.id
)
  .view
    input.toggle(
      type="checkbox"
      checked=todo.isCompleted
      hx-patch="/todos/" + todo.id
      hx-swap="outerHTML"
      hx-target="#todo-" + todo.id
    )
    label #{todo.name}
    button.destroy(
      hx-delete="/todos/" + todo.id
      _="on htmx:afterOnLoad remove #todo-" + todo.id
    )
