doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/todo-mvc-base.css')
    link(rel='stylesheet' href='/css/todo-mvc-app.css')
  body
    .todoapp
      header.header
        h1 todos
        form(
          hx-post="/todos"
          hx-target="#todo-list"
          hx-swap="afterbegin"
          _="on htmx:afterOnLoad set #new-todo.value to ''"
        )
          input.new-todo#new-todo(
            placeholder="What needs to be done?"
            name="name"
            autoFocus=""
          )
      section.main
        ul.todo-list#todo-list
          each todo in todos
            include includes/todo-item
      footer.footer
        include includes/item-count.pug
        ul.filters
          li
            a(
              href="/?filter=all"
              class={selected: filter === 'all'}
            ) All
          li
            a(
              href="/?filter=active"
              class={selected: filter === 'active'}
            ) Active
          li
            a(
              href="/?filter=completed"
              class={selected: filter === 'completed'}
            ) Completed
    script(src='https://unpkg.com/htmx.org@1.9.5')
    script(src='https://unpkg.com/hyperscript.org@0.9.11')
